.login_form_container {
  margin: 0 auto !important;
  padding-top: 83px;
  max-width: 368px;
  text-align: center;
}
.check_container {
  text-align: left;
}
.login_form_logo {
  margin-bottom: 50px;
  margin-top: 60px;
  width: auto;
  height: auto;
}
.login_form_forgot {
  float: left;
  color: #089EB7;
  margin-top: 20px;
}

.login_form_submit {
  margin-top: 13px;
}

.text {
  margin-bottom: 20px !important;
  text-align: left;
}

.space {
  margin-bottom: 10px !important;
}

.disabled_input {
  color: palevioletred !important;
}
